			


<input id="value1" type="text" value="{{value1}}"><br>
<input id="value2" type="text" value="{{value2}}"><br>
<button class="plus">+</button>
<button class="minus">-</button>
<button class="multi">*</button>
<button class="divide">/</button><br>
<input id="ergebnis" type="text" value="{{ergebnis}}">

